.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgb(0, 0, 0, 0.25);
  padding: 10px;
  max-width: 568px;
  max-height: 568px;
  background-color: white;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}
.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}
.post__body {
  flex: 1;
  padding: 10px;
}
.post__body > img {
  border-radius: 20px;
}
.post__footer {
  display: flex;
  justify-content: space-between;
}
.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}
.post__headerSpecial {
  font-weight: 400;
  font-size: 12px;
  color: gray;
}
.post__avatar {
  padding: 10px;
}
.post__image {
  max-width: 507px;
  max-height: 507px;
}
/* .tweet__button:hover {
  border-radius: 50%;
  transition: color 100ms ease-out;
} */
.tweet__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 3px;
}
.tweet__button > .MuiSvgIcon-root {
  padding: 10px;
}
.tweetButton__container:hover {
  transition: color 200ms ease-out;
}
.tweetButton__container:hover > .tweet__button {
  border-radius: 50%;
}
.reply__container:hover > .reply-button {
  background-color: var(--twitter-background);
}
.reply__container:hover {
  color: var(--twitter-color);
}
.like__container:hover > .like-button {
  background-color: #f0e6e6;
}
.like__container:hover {
  color: #fa4343;
}
.retweet__container:hover > .retweet-button {
  background-color: #d6f2d8;
}
.retweet__container:hover {
  color: #36fb43;
}
.share-button:hover {
  background-color: #e5d6f2;
  color: #a641ff;
  border-radius: 50%;
  transition: color 200ms ease-out;
}
.popup-overlay {
  position: fixed;
  inset: 0px;
  z-index: 999;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
}

.popup__container {
  width: 568px;
  max-height: 568px;
  border-radius: 10px;
  background-color: white;
}
.popup__post {
  border-radius: 10px;
  border-bottom: none;
}
.popup__closeButton {
  cursor: pointer;
}
.popupCloseButton__container {
  height: 53px;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.popup__closeButton:hover {
  background-color: var(--twitter-background);
  color: var(--twitter-color);
}

.post__reply {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}
.postReply__avatar {
  padding: 10px;
}
.reply__input {
  border: none;
  width: 100%;
  background-color: white;
  padding-left: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 100;
  resize: none;
}

.replyButton__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.replyButton {
  margin: 15px !important;
  border-radius: 20px !important;
  text-transform: none !important;
  font-weight: 600 !important;
}

.tweetButton__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tweetButton__container {
  cursor: pointer;
}
